<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro empresa</title>
</head>
<body>
    <h1>Cadastro</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit expedita commodi unde. Corrupti aut perferendis neque vero unde magni, illo vitae voluptates natus deserunt aliquid, adipisci facere non sunt libero.</p><b></b>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem possimus omnis nam expedita, vero est voluptatibus quidem ratione. Repellendus voluptas ab soluta amet veniam quas dicta incidunt ullam, quaerat aspernatur.</p>
</body>
</html>